design-system-demo/storybook-static
mock-server/node_modules

#temp
design-system-demo/src/components/layouts/VariableLayout.tsx
design-system-demo/src/config/ButtonTheme.ts
design-system-demo/src/config/CustomTheme.ts
design-system-demo/.storybook/theme.ts
design-system-demo/src/components/layouts/ListView.tsx
glossary/src/features/term/components/DeleteTermButton.tsx
design-system-demo/src/components/layouts/UnitView.tsx

design-system-demo/stories/test.ts
analisys.drawio.png
design-principle.md
design-system_digital-agency.md
design-system.md
design-token.md
how-to-difine-uiux-guidelines.md
layout.drawio.png
lib-build-and-deploy.bat
memo.md
storybook-memo.md
style-guide.md
uiux-methology.md
uiux-standardization_min.pptx
uiux-standardization_old.pptx
uiux-standardization.pptx
verdaccio-memo.md
vite-memo.md
YZ様向け依頼事項.pptx
bak/VariableLayout.tsx.bak
